@model Tweety.Models.Tags
@{
    ViewBag.Title = "Home Page";
}

<center><h2>Search Tweet</h2></center>

<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.Label("Search to Twitter : ") <br />
            @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" }) <br />
            @Html.Label("Query Dinas Kesehatan : ") <br />
            @Html.TextBoxFor(model => model.DinasKesehatan, null, new { @class = "form-control" }) <br />
            @Html.Label("Query Dinas Sosial : ") <br />
            @Html.TextBoxFor(model => model.DinasSosial, null, new { @class = "form-control" }) <br />
            @Html.Label("Query Dinas Pendidikan : ") <br />
            @Html.TextBoxFor(model => model.DinasPendidikan, null, new { @class = "form-control" }) <br />
            @Html.Label("Query Dinas Binamarga & Pengairan : ") <br />
            @Html.TextBoxFor(model => model.DinasBinamarga, null, new { @class = "form-control" }) <br />
            @Html.Label("Query Dinas Pemuda & Olahraga : ") <br />
            @Html.TextBoxFor(model => model.DinasPemuda, null, new { @class = "form-control" }) <br />
            @Html.Label("Select Method : ") <br />
            @Html.RadioButtonFor(model => model.isKMP, true)
            @Html.Label("KMP") <br />
            @Html.RadioButtonFor(model => model.isKMP, false)
            @Html.Label("Boyer-Moore") <br />
            <button type="submit" class="btn btn-primary">Cari</button>
        }
    </div>
</div>
