@model Tweety.Models.Tags
@{
    ViewBag.Title = "Home Page";
}
<div class="card">
    <div class="card-content">
        <div class="content has-text-centered">
            <h2 class="title">Search Tweet</h2>
            <div class="notification is-info">
                Seperated query with comma seperated. Example: air, tanah, api, angin
            </div>

            @using (Html.BeginForm())
            {
                <div class="field">
                    @Html.LabelFor(model => model.Name, "Search to Twitter", new { Class = "label" })
                    <div class="control">
                        @Html.TextBoxFor(model => model.Name, new { Class = "input" })
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="field column is-one-third">

                        @Html.LabelFor(model => model.DinasKesehatan, "Query Dinas Kesehatan", new { Class = "label" })
                        <div class="control">

                            @Html.TextBoxFor(model => model.DinasKesehatan, null, new { Class = "input" })
                        </div>
                    </div>
                    <div class="field column is-one-third">

                        @Html.LabelFor(model => model.DinasSosial, "Query Dinas Sosial", new { Class = "label" })
                        <div class="control">

                            @Html.TextBoxFor(model => model.DinasSosial, null, new { Class = "input" })
                        </div>
                    </div>
                    <div class="field column is-one-third">

                        @Html.LabelFor(model => model.DinasPendidikan, "Query Dinas Pendidikan", new { Class = "label" })
                        <div class="control">

                            @Html.TextBoxFor(model => model.DinasPendidikan, null, new { Class = "input" })
                        </div>
                    </div>
                    <div class="field column is-one-third">

                        @Html.LabelFor(model => model.DinasBinamarga, "Query Dinas Binamarga & Pengairan", new { Class = "label" })
                        <div class="control">

                            @Html.TextBoxFor(model => model.DinasBinamarga, null, new { Class = "input" })
                        </div>
                    </div>
                    <div class="field column is-one-third">

                        @Html.LabelFor(model => model.DinasPemuda, "Query Dinas Pemuda & Olahraga", new { Class = "label" })
                        <div class="control">

                            @Html.TextBoxFor(model => model.DinasPemuda, null, new { Class = "input" })
                        </div>
                    </div>

                    <div class="field column is-one-third">
                        <div class="control">
                            <label class="label">Select Method:</label>
                        </div>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.IsKMP, true)
                            <span>KMP</span>
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.IsKMP, false)
                            <span>Booyer-Moore</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="button is-primary is-fullwidth">Cari</button>
                </div>
            }
        </div>
    </div>
</div>
