@model Tweety.Models.Tags
@{
    ViewBag.Title = "Home Page";
}

<center><h2>Search Tweet</h2></center>

@using (Html.BeginForm())
{
    <div class="input-field">
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Name, "Search to Twitter")
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.TextBoxFor(model => model.DinasKesehatan, null)
            @Html.LabelFor(model => model.DinasKesehatan, "Query Dinas Kesehatan")
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(model => model.DinasSosial, null)
            @Html.LabelFor(model => model.DinasSosial, "Query Dinas Sosial")
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(model => model.DinasPendidikan, null)
            @Html.LabelFor(model => model.DinasPendidikan, "Query Dinas Pendidikan")
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(model => model.DinasBinamarga, null)
            @Html.LabelFor(model => model.DinasBinamarga, "Query Dinas Binamarga & Pengairan")
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(model => model.DinasPemuda, null)
            @Html.LabelFor(model => model.DinasPemuda, "Query Dinas Pemuda & Olahraga")
        </div>
    </div>
    <div class="row">
        @Html.Label("Select Method : ") <br />
        <p>
            <label>
                @Html.RadioButtonFor(model => model.IsKMP, true)
                <span>KMP</span>
            </label>
        </p>
        <p>
            <label>
                @Html.RadioButtonFor(model => model.IsKMP, false)
                <span>Booyer-Moore</span>
            </label>
        </p>
    </div>
    <div class="row">
        <button type="submit" class="btn">Cari</button>
    </div>
}
