
@model Tweety.Models.TweetResult
@{
    ViewBag.Title = "ShowResult";
}

<div class="card">
    <div class="card-content">
        <h2 class="title">Result</h2>
        <b-tabs position="is-centered" class="block" type="is-toggle" expanded>
            @foreach (Tweety.Models.QueryCategory QQ in Model.Query)
            {
                <b-tab-item label="@QQ.Name">
                    <div id="@QQ.Id">
                        <h3 class="title">@QQ.Name</h3>
                        <p class="subtitle">
                            Jumlah Tweet : <strong>@QQ.Tweet.Count</strong>
                        </p>
                        @foreach (Tweety.Models.HasilTweet TT in QQ.Tweet)
                        {
                            <div class="box">
                                <div class="media">
                                    <figure class="media-left">
                                        <a href="http://twitter.com/@TT.TweetContent.CreatedBy.ScreenName">
                                            <figure class="image">
                                                <img src="@TT.TweetContent.CreatedBy.ProfileImageUrl" class="is-rounded" />
                                            </figure>
                                        </a>
                                    </figure>
                                    <div class="media-content">
                                        <span class="title">
                                            <a href="http://twitter.com/@TT.TweetContent.CreatedBy.ScreenName"> @TT.TweetContent.CreatedBy.Name </a>
                                        </span>
                                        <p class="content"> @Html.Raw(@TT.Result) </p>
                                        <div class="container">
                                            <b-carousel>
                                                @for (int i = 0; i < TT.TweetContent.Entities.Medias.Count; i++)
                                                {
                                                <b-carousel-item>
                                                    <div class="container has-text-centered">
                                                        <a class="is-centered" href="@TT.TweetContent.Entities.Medias.ElementAt(i).MediaURL">
                                                            <figure class="image is-16by9">
                                                                <img src="@TT.TweetContent.Entities.Medias.ElementAt(i).MediaURL" />
                                                            </figure>
                                                        </a>
                                                    </div>
                                                </b-carousel-item>
                                                }

                                            </b-carousel>
                                        </div>
                                        <p> <a href="@TT.TweetContent.Url">@TT.TweetContent.CreatedAt</a>  </p>
                                    </div>
                                </div>


                            </div>
                        }
                    </div>
                </b-tab-item>
            }
        </b-tabs>
    </div>
</div>
